<h1>Posts page</h1>
    <!-- 8. Add queryParams with value showIds=true --> 
<button
        class="btn"
        [routerLink]="['/posts']"
        [queryParams]="{showIds: true}"
>
  Show Ids
</button>
<!-- 8 -->
<button class="btn" (click)="showIdsProgram()">
  Show Ids (program)
</button>

<div class="card" *ngFor="let post of postsService.posts">
  <h4>
    <!--6-->
    <!--binding routerLink specify the link of the post and Pass the number of id-->
    <a [routerLink]="['/posts', post.id]">
      <!--8-->
      <strong *ngIf="showIds">(ID {{post.id}})</strong>
      {{post.title}}
    </a>
  </h4>
</div>
